.archivo{
   font-family: 'Archivo', Arial, Helvetica, sans-serif !important;
}

#dois{
   color: #fff;
   transition: color 0.5s;
}

#dois:hover{
   color: #ffa500;
   
}

.navbar{
   box-shadow: 0px 5px 30px #000;
   background-color: #2E236C;
   padding-left: 20px;
   padding-right: 20px;
}



.navbar-brand{
   font-weight: 900;
   margin-right: 100px;
   font-size: 3em;
   color: #ffa500;
   transition: color 0.5s;
}

.navbar-brand:hover{
   color: #fff;
}

.navbar-toggler{
   border: 1px solid #fff !important;
   color: #fff !important;
}

.navbar-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }

 .nav-link{
   font-weight: 400;
   font-size: 1.5em;
   color: #fff;;
   transition: color 0.5s;
 }
 
 .nav-link:hover{
   color: #ffa500;;
 }

 .nav-link:visited{
   color: #fff;
 }

 .collapse.navbar-collapse.um{
   justify-content: center;
 }

 .icon-case{
   display: flex;
   gap: 25px;
   justify-content: right;
   min-width: 300px;
 }

 .dropdown-item:hover{
   color: #fff;
   background-color: #433D8B;
 } 

.dropdown-menu{
   background-color: #C8ACD6;
}