.services{
   background: linear-gradient(to left top, #2E236C, #20184c);
}

.service-card{
   padding: 15px 30px 20px 30px !important;
   border: 2px solid white;
   width: 40%;
}

.paragraph{
   font-size: 2em;
}

.row.row-cols-2.gy-2{
   column-gap: 2rem;
   row-gap: 2rem;
   align-items: center;
   justify-content: center;
}

.card-title{
   font-size: 1.1em;
}

.card-text{
   font-size: 0.8em;
}

.service-card > i {
   font-size: 2em;
   margin-bottom: 30px !important;
}

.container-text{
   margin-left: 50px;
}

#button-service{
   margin-top: 25px;
}

@media(max-width: 576px){
   .row.mx-auto{
      display: flex;
      flex-direction: column;
      gap: 50px;
   }
   
   .container-text{
      box-sizing: border-box;
      margin: 0px;
      width: 350px;
   }
   
   .title.service-title{
      font-size: 2em;
   }
   
   .paragraph{
      font-size: 1.5em;
   }
   
   .cards-container{
      display: flex;
      flex-direction: column;
      gap: 10px !important;
   }
   
   .service-card{
      width: 90%;
   }
}